<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BuildMachineOSBuild</key>
    <string>17A405001</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AppleVirtIO</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.driver.AppleVirtIO</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AppleVirtIO</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>2.1.3</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTPlatformBuild</key>
    <string>10P70r</string>
    <key>DTPlatformName</key>
    <string>macosx</string>
    <key>DTPlatformVersion</key>
    <string>10.14</string>
    <key>DTSDKBuild</key>
    <string>18E2030</string>
    <key>DTSDKName</key>
    <string>macosx10.14internal</string>
    <key>DTXcode</key>
    <string>1020</string>
    <key>DTXcodeBuild</key>
    <string>10P70r</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>AppleVirtIO9P</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtIO</string>
            <key>IOClass</key>
            <string>AppleVirtIO9P</string>
            <key>IOProviderClass</key>
            <string>AppleVirtIOTransport</string>
        </dict>
        <key>AppleVirtIO9PVFS</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtIO</string>
            <key>IOClass</key>
            <string>AppleVirtIO9PVFS</string>
            <key>IOMatchCategory</key>
            <string>AppleVirtIO9PVFS</string>
            <key>IOProviderClass</key>
            <string>IOResources</string>
            <key>IOResourceMatch</key>
            <string>IOBSD</string>
        </dict>
        <key>AppleVirtIOBlock</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtIO</string>
            <key>IOClass</key>
            <string>AppleVirtIOBlockStorageDevice</string>
            <key>IOProviderClass</key>
            <string>AppleVirtIOTransport</string>
        </dict>
        <key>AppleVirtIOConsole</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtIO</string>
            <key>IOClass</key>
            <string>AppleVirtIOConsole</string>
            <key>IOProviderClass</key>
            <string>AppleVirtIOTransport</string>
        </dict>
        <key>AppleVirtIOPCITransport</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtIO</string>
            <key>IOClass</key>
            <string>AppleVirtIOPCITransport</string>
            <key>IOPCIPrimaryMatch</key>
            <string>0x00001af4&amp;0x0000FFFF</string>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
        </dict>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>10.14</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2016-18 Apple, Inc. All rights reserved.</string>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>2.9</string>
        <key>com.apple.iokit.IOSerialFamily</key>
        <string>11.0</string>
        <key>com.apple.iokit.IOStorageFamily</key>
        <string>2.1</string>
        <key>com.apple.kpi.bsd</key>
        <string>15.5</string>
        <key>com.apple.kpi.iokit</key>
        <string>15.5</string>
        <key>com.apple.kpi.libkern</key>
        <string>15.5</string>
        <key>com.apple.kpi.mach</key>
        <string>15.5</string>
    </dict>
    <key>OSBundleRequired</key>
    <string>Local-Root</string>
</dict>
</plist>
