<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BuildMachineOSBuild</key>
    <string>17A405001</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AppleVirtualGraphics</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.driver.AppleVirtualGraphics</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AppleVirtualGraphics</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>2.1.3</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTPlatformBuild</key>
    <string>10P70r</string>
    <key>DTPlatformName</key>
    <string>macosx</string>
    <key>DTPlatformVersion</key>
    <string>10.14</string>
    <key>DTSDKBuild</key>
    <string>18E2030</string>
    <key>DTSDKName</key>
    <string>macosx10.14internal</string>
    <key>DTXcode</key>
    <string>1020</string>
    <key>DTXcodeBuild</key>
    <string>10P70r</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>AppleBochVGAFB</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtualGraphics</string>
            <key>IOClass</key>
            <string>AppleBochVGAFB</string>
            <key>IOMatchCategory</key>
            <string>IOFramebuffer</string>
            <key>IOPCIPrimaryMatch</key>
            <string>0x11111234&amp;0xFFFFFFFF</string>
            <key>IOProbeScore</key>
            <integer>30000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
        </dict>
        <key>AppleCirrusGD5446FB</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.apple.driver.AppleVirtualGraphics</string>
            <key>IOClass</key>
            <string>AppleCirrusGD5446FB</string>
            <key>IOMatchCategory</key>
            <string>IOFramebuffer</string>
            <key>IOPCIPrimaryMatch</key>
            <string>0x00001013&amp;0x0000FFFF</string>
            <key>IOProbeScore</key>
            <integer>30000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
        </dict>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>10.14</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2017 Apple Inc. All rights reserved.</string>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IOGraphicsFamily</key>
        <string>515.3</string>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>2.9</string>
        <key>com.apple.kpi.iokit</key>
        <string>16.7</string>
        <key>com.apple.kpi.libkern</key>
        <string>16.7</string>
    </dict>
    <key>OSBundleRequired</key>
    <string>Safe Boot</string>
</dict>
</plist>
